.country-cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.country-card-container {
    max-width: 300px;
    margin-bottom: 2rem;
    border-bottom:  0 1px 0 0 solid black;
}

.country-card-container img {
    max-width: 300px;
    height: 200px;
}